body {
    background-image: url(recursos/imagenes/fondo.jpg)
}
.formingreso {
    background-color: darkslategray;
    padding: 40px;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    border: 1px solid black;
    box-shadow: 0 0 40px -10px; 
    margin: auto;
}

#btn-guardar {
    margin: auto;
}

.visualizacion {
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    table-layout: fixed;
    border: solid 2px ;
    
}

thead {
    background-color: darkslategray;
}
